@tailwind base;
@tailwind components;

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../public/fonts/SFProDisplay_Regular.woff2') format('woff2'),
        url('../public/fonts/SFProDisplay_Regular.woff') format('woff');
}

@tailwind utilities;